body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MenuIcon {
  color: #ffffff !important;
}

.BackButton {
  color: #ffffff !important;
}

div.content {
  margin: 24px;
  font-size: 30px;
}

table {
  width: 100%;
}

tr>td.value {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

.floating_action_button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.money_input {
  margin-left: 10px;
  margin-right: 10px;
}